name: CI/CD - Build & Push Docker

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout du code
        uses: actions/checkout@v3

      - name: Setup JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build Maven
        run: mvn clean package -DskipTests

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/YanniB/Tp4MaintenanceLogiciel
          COMMIT_TAG=$(git rev-parse --short HEAD)
          docker build -t $IMAGE_NAME:$COMMIT_TAG .

      - name: Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/YanniB/Tp4MaintenanceLogiciel
          COMMIT_TAG=$(git rev-parse --short HEAD)
          docker push $IMAGE_NAME:$COMMIT_TAG
